{% extends 'temp_padre.html' %} <!--para heredar del template padre!-->

{% load static %}

{% block ContenidoQueCambia %}

    <h1>Hola, mi nombre es Ivan, soy el creador de esta aplicación.</h1>
    <br>
    <h3>Tengo 30 años, soy ingeniero mecánico y técnico electromecánico.</h3><br>
    <h3>Me gusta la naturaleza, la ciencia, la tencología, las máquinas y los deportes.</h3> <br>
    <br>
    <h3>En un mundo que evoluciona constantemente,</h3> <br>
    <h3>decidí emprendender un nuevo camino en mi formacón profesional: la programación.</h3>
    <h4>Por ello, inicié un curso de Python en Coderhouse a modo de tener un primer pantallazo de este mundo.</h4>
    <br>
    <h4>Realicé esta aplicación como proyecto final de curso.</h4> <br>
    <h4>Tiene la función de registrar la actividad de alquiler temporario de mi departamento mientras me encuentro de viaje.</h4>
    <h4>Por lo pronto, solamente tendrá acceso a esta aplicación "F9D", amigo y compañero de trabajo,</h4>
    <h4>para efectuar la recepción de inquilinos y sus registros correspondientes. </h4>
    <br>
    <h4>En un futuro aspiro a que la aplicación escale y llegue a más personas que quieran administrar el alquiler de sus propiedades.</h4>
    <br>
    <br>
    <h2>Gracias por su lectura.</h2>
    
{% endblock ContenidoQueCambia %}