{% extends 'temp_padre.html' %} <!--para heredar del template padre!-->

{% load static %}


{% block ContenidoQueCambia %}

    <h1> Lista de inquilinos actualizada:</h1>
    
    <!-- Reever clase 22, para solucionar el problema de la impresion del nombre del inquilino -->
    {% for inquilino in inquilinos %}
        <li>
            <a href="{% url 'inquilino-detalle' inquilino.id %}">{{inquilinos}}</a>
         </li>  
         <div>
            <button>
                <a href="{% url 'inquilino-delete' inquilino.id %}">Editar</a>
            </button>
            <button>
                <a href="{% url 'inquilino-actualizar' inquilino.id %}">Editar</a>
            </button>
         </div> 
                
    {% endfor %}
    
{% endblock ContenidoQueCambia %}