{% extends 'temp_padre.html' %} <!--para heredar del template padre!-->

{% load static %}

{% block ContenidoQueCambia %}

    <h1> Lista de inquilinos:</h1>
    
    <!-- Reever clase 22, para solucionar el problema de la impresion del nombre del inquilino -->
    {% for p in person %}
        <li>
            <a href="{% url 'person-detail' p.id %}">{{p}}</a>
        </li>  
        <div>
            <button>
                <a href="{% url 'person-update' p.id %}">Editar</a>
            </button>
            <button>
                <a href="{% url 'person-delete' p.id %}">Eliminar</a>
            </button>
        </div> 
                
    {% endfor %}

{% endblock ContenidoQueCambia %}